@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap");

$original-color: #e74325;
$hover-color-darker: #d33924;
$border-button-color: #ea523d;

$font-titles: "Poppins", sans-serif;
$text: "Open Sans", sans-serif;

button {
  font-family: $font-titles;
}

body {
  background-color: #fdf7f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-titles;
  font-weight: 500;
}

p {
  font-family: $text;
  font-weight: 600;
}

.heroTitle {
  font-size: 4.8vw;
}

.heroText {
  font-family: $text;
  font-size: 2.8vmin;
}

.homeButton {
  font-family: $font-titles;
}

.user-form,
.user-form[type="value"] {
  font-family: $font-titles;
  font-weight: 500;
}

.recipe-form,
.recipe-form[type="value"] {
  font-family: $font-titles;
  font-weight: 100;
}

#homeSection {
  .firstSection {
    background-color: #fdf7f6;
  }

  .secondSection {
    background-color: #f3f3f3;
  }
}
