@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap");

$original-color: #e74325;
$hover-color-darker: #d33924;
$border-button-color: #ea523d;

$font-titles: "Poppins", sans-serif;
$text: "Open Sans", sans-serif;

.navbar {
  font-family: $font-titles;

  li {
    color: grey;
    list-style: none;
  }
}

.recipeCard {
  border-radius: 5%;
  padding: 10px;
  box-shadow: 3px 2px 9px -2px rgba(126, 126, 126, 0.53);

  .cardHeader,
  button {
    font-family: $font-titles;
  }

  p {
    font-family: $text;
  }
}

.modalRecipe {
  p {
    font-family: $text;
    font-weight: 500;
  }
}
